<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alita.framework.job.repository.JobLogReportMapper">

    <update id="update" parameterType="com.alita.framework.job.model.JobLogReport">
        UPDATE job_log_report
        SET running_count = #{runningCount},
            suc_count = #{sucCount},
            fail_count = #{failCount}
        WHERE trigger_day = #{triggerDay}
    </update>


    <insert id="save" parameterType="com.alita.framework.job.model.JobLogReport">
        INSERT INTO job_log_report (id, trigger_day, running_count, suc_count, fail_count)
        VALUES (#{id}, #{triggerDay}, #{runningCount}, #{sucCount}, #{failCount});
    </insert>

</mapper>